* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}

.logo h2{
    font-size : 45px;
    font-weight: 900px;

}

.color-orange{
    color : #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18.28px 35px 19.3px 36px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0px auto;
   
}

.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;

    line-height: 30px;
    color: #757575;
}

.text-center{
    text-align: center;
    margin:50px auto 113px ;
}

 .btn-group{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

/* main style */

body{
    background-color: #FFF8F3;
}
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3 ;
    background-position: 23px 38px, right bottom;
    background-repeat: no-repeat;
    padding-top: 50px; 
}

nav{
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}


#banner{
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size:85px ;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    font-weight: regular;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

#about , #skills , #resume{
    padding-top:130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}



#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#about .about-container .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}

.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
}



#skills .selection-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    
   
   
}

.selection-container .skill-box{
    display: flex;
    gap:24px;
    margin-top: 30px;
}

.skill-box .skill-card{
    padding : 30px;
    max-width: 267px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px 0 #00000026;

}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0px ;
    display: flex;
    gap: 24px;
}

#resume .section-heading{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.resume-container .section-title{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 30px;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card p{
    font-size: 16px;
    font-weight: regular;
    line-height: 28px;
    color: #757575;
    
}


hr{
    margin: 30px 0px;
}


footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin:0px auto;
    display: flex;
    gap:117px;
}

.social h2 , form h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social{
    max-width: 562px;
}



.social p{
    
    font-size: 16px;
    font-weight: regular;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.social .icons a{
    margin-right: 24px;
}

form input, form textarea{
    max-width: 461px;
    border-radius: 5px;
    border: none;
    padding: 18px 349px 18px 30px;
    margin-bottom: 24px;
    color: #757575;

}

.hide{
    display: none;
}


@media screen and (max-width:576px){

    .container {
    width: 95%;
    
    }

    .section-heading h2 {
    font-size: 30px;
   
   
    }

    #about, #skills, #resume{
        padding-top: 60px;
    }

    .selection-container .skill-box , #about .about-container .about-info , footer .footer-container , #resume .resume-container , nav , #banner{
        flex-direction: column;
    }

    .skill-box .skill-card{
        max-width: 100%;
    }

    #about .about-container{
        padding: 20px;
    }

    #about .about-container .about-info{
        gap: 40px;
    }

    #resume .resume-container{
        margin-top: 60px;
    }

    .resume-card{
        margin-right: 10px;
    }

    nav .menu{
        flex-wrap: wrap;
    }

    #banner{
        margin: 20px;
        gap: 20px;
        text-align: center;
    }

    #banner .banner-image img{
        width: 100%;
    }

    #banner .banner-content h1{
        font-size: 44px;
    }

    .btn-group{
        justify-content: center;
    }

    header {
   
    background:  url(../images/header_bg.png), #FFF8F3;
    background-position:  right bottom;
    background-repeat: no-repeat;
    
    }

   
}

